<!DOCTYPE html>
<html lang="en">

<% include ./include/header %>

<body id="page-top">

  <% include ./include/nav %>

  <div id="wrapper">

    <% include ./include/sidebar %>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Clima Organizacional</a>
          </li>
          <li class="breadcrumb-item active"><%= crumb %></li>
        </ol>

        <!-- State 0 BEGIN-->
        <% if (state == 0 || state == 3) { %>
          <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
              <form method="post" action="/clima" enctype="multipart/form-data">
                <input type="hidden" name="state" value="1">
                <button type="submit" style="background: none; border: none;"><a style="color: white;" class="btn btn-primary btn-lg"><i class="fas fa-fw fa-plus"></i>&nbsp;Nuevo Estudio</a></button>
              </form>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-header">
              Estudios Clima Organizacional</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Empresa</th>
                      <th>Año</th>
                      <th>Plantas</th>
                      <th>Escala</th>
                      <th>Ver Resultados</th>
                      <th>Editar Estudio</th>
                      <th>Eliminar Estudio</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (data.length > 0) {%>
                      <% for (i = 0; i < data.length; i++) { %>
                    <% if (comp == data[i].empresa_id || type == 0) { %>
                    <tr>
                      <td><%= data[i].nombre %></td>
                      <td><%= data[i].year %></td>
                      <td><%= data[i].plantas %></td>
                      <% if (data[i].escala == 1) { %>
                      <td>100-75-25-0</td>
                      <% } else { %>
                      <td>100-80-40-0</td>
                      <% } %>
                      <td class="text-center"><a href="/resultados_clima?dbname=<%= data[i].nombre + data[i].year %>" class="btn btn-success"><i class="fas fa-fw fa-check"></i></a></td>
                      <td class="text-center"><a href="/editar_clima?dbname=<%= data[i].nombre + data[i].year %>" class="btn btn-primary"><i class="fas fa-fw fa-edit"></i></a></td>

                      <% if (type == 0) { %>
                      <td class="text-center"><a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteStudyModal<%= data[i].id %>"><i class="fas fa-fw fa-trash"></i></a></td>

                      <!-- Delete Study Modal-->
                        <div class="modal fade" id="deleteStudyModal<%= data[i].id %>" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Eliminar Estudio?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">×</span>
                                </button>
                              </div>
                              <div class="modal-body">Selecciona aceptar para confirmar. No se puede restablecer una vez eliminado.</div>
                              <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <form method="post" action="/clima" enctype="multipart/form-data">
                                  <input type="hidden" name="state" value="3">
                                  <input type="hidden" name="data_study_id" value="<%= data[i].id %>">
                                  <button class="btn btn-danger" type="submit">Eliminar</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>

                      <% } else { %>
                      <td class="text-center"><a href="#" class="btn btn-danger disabled"><i class="fas fa-fw fa-trash"></i></a></td>
                      <% } %>
                    </tr>
                    <% } else { %>
                    <tr>
                      <td>No hay estudios disponibles</td>
                    </tr>
                    <% } %>
                      <% } %>
                    <% } else { %>
                    <tr>
                      <td>No hay estudios disponibles</td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
           <!-- /State 0 END -->
           <!-- /State 1 END -->
        <% } else if (state == 1) { %>
          <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
              <form method="post" action="/clima" enctype="multipart/form-data">
                <input type="hidden" name="state" value="0">
                <button type="submit" style="background: none; border: none;"><a style="color: white;" class="btn btn-primary btn-lg">Regresar</a></button>
            </form>
            </div>
          </div>
          <form method="post" action="/clima" enctype="multipart/form-data">
            <div class="form-row">
              <div class="col-xl-6 col-sm-12 mb-6">
                <div class="form-group"><h4>Paso 1: Seleccionar escala de evaluación</h4></div>
                <div class="form-group form-check form-check">
                  <input class="form-check-input" type="radio" name="escala_radio" id="escala-radio1" value="1" required>
                  <label class="form-check-label" for="escala-radio1">Escala 100-75-25-0</label>
                </div>
                <div class="form-group form-check form-check">
                  <input class="form-check-input" type="radio" name="escala_radio" id="escala-radio2" value="2" required>
                  <label class="form-check-label" for="escala-radio2">Escala 100-80-40-0</label>
                </div>
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-xl-6 col-sm-12 mb-6">
                <div class="form-group"><h4>Paso 2: Información de la empresa</h4></div>
                <div class="form-group">
                  <label for="select_empresa">Seleccionar empresa: </label>
                  <select class="form-control" name="select_empresa" id="select_empresa" required>
                    <% for (i = 0; i < data.length; i++) { %>
                    <option value="<%= data[i].nombre %>,<%= data[i].id %>"><%= data[i].nombre %></option>
                    <% } %>
                  </select>
                </div>
                <div class="form-group">
                  <label for="planta_input">Plantas (separadas por coma): </label>
                  <input type="text" class="form-control" name="planta_input" id="planta_input" placeholder="E.g. Monterrey,San Pedro,etc..." required>
                </div>
                <div class="form-group">
                  <label for="year_input">Año del estudio: </label>
                  <input type="text" class="form-control" name="year_input" id="year_input" value="2019" required>
                </div>
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-xl-6 col-sm-12 mb-6">
                <div class="form-group"><h4>Paso 3: Generales</h4></div>
                <div class="form-group">
                  <label for="generales_input">Categorías (separadas por coma, sin caracteres especiales, iniciando con Planta): </label>
                  <input type="text" class="form-control" name="generales_input" id="generales_input" placeholder="E.g. Genero,Edad,Antiguedad,etc" required>
                </div>
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-xl-6 col-sm-12 mb-6">
                <div class="form-group"><h4>Paso 4: Reactivos</h4></div>
                <div class="form-group">
                  <label for="reactivos_file">Archivo CSV Reactivos (en este orden: Rubro, Factor, Reactivo)</label>
                  <input type="file" class="form-control-file" name="reactivos_file" id="reactivos_file">
                </div>
                <div class="form-group">
                  <label for="reactivos_input">Número de Reactivos: </label>
                  <input type="number" class="form-control" name="reactivos_input" id="reactivos_input" required>
                </div>
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-xl-6 col-sm-12 mb-6">
                <div class="form-group"><h4>Paso 5 (opcional): Servicios</h4></div>
                <div class="form-check form-group">
                  <input type="checkbox" class="form-check-input" name="servicios_check" id="servicios_check" value="0">
                  <label class="form-check-label" for="servicios_check">Agregar Servicios?</label>
                </div>
                <div class="form-group">
                  <label for="servicios_input">Servicios (separados por coma, sin caracteres especiales): </label>
                  <input type="text" class="form-control" name="servicios_input" id="servicios_input" placeholder="E.g. RH,Compensaciones,etc" disabled>
                </div>
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-xl-6 col-sm-12 mb-6">
                <div class="form-group"><h4>Paso 6 (opcional): Áreas</h4></div>
                <div class="form-check form-group">
                  <input type="checkbox" class="form-check-input" name="areas_check" id="areas_check" value="0">
                  <label class="form-check-label" for="areas_check">Agregar Áreas?</label>
                </div>
                <div class="form-group">
                  <label for="servicios_input">Áreas (separadas por coma, sin caracteres especiales): </label>
                  <input type="text" class="form-control" name="areas_input" id="areas_input" placeholder="E.g. RH,Compensaciones,etc" disabled>
                </div>
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-xl-6 col-sm-12 mb-6">
                <div class="form-group"><h4>Paso 7 (opcional): Líder, Comentarios y Otras Preguntas</h4></div>
                <div class="form-check form-group">
                  <input type="checkbox" class="form-check-input" name="leader_check" id="leader_check" value="0">
                  <label class="form-check-label" for="leader_check">Agregar Líder?</label>
                </div>
                <div class="form-check form-group">
                  <input type="checkbox" class="form-check-input" name="comentarios_check" id="comentarios_check" value="0">
                  <label class="form-check-label" for="comentarios_check">Agregar Comentarios?</label>
                </div>
                <div class="form-check form-group">
                  <input type="checkbox" class="form-check-input" name="otras_check" id="otras_check" value="0">
                  <label class="form-check-label" for="otras_check">Agregar Otras Preguntas?</label>
                </div>
                <div class="form-group">
                  <label for="otras_input">Cantidad de otras preguntas: </label>
                  <input type="number" class="form-control" name="otras_input" id="otras_input" disabled>
                </div>
                <div class="form-group">
                  <label for="otras_input">Archivo de otras preguntas (ignorar si no hay otras preguntas): </label>
                  <input type="file" class="form-control-file" name="reactivos_file" id="otras_input">
                </div>
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-xl-6 col-sm-12 mb-6">
                <div class="form-group"><h4>Paso 8: Resultados Generales </h4></div>
                <div class="form-group">
                  <label for="reactivos_file">Archivo CSV Generales</label>
                  <input type="file" class="form-control-file" name="reactivos_file" id="reactivos_file" multiple>
                </div>
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-xl-6 col-sm-12 mb-6">
                <div class="form-group"><h4>Paso 9: Resultado de Encuesta </h4></div>
                <div class="form-group">
                  <label for="reactivos_file">Archivo CSV Global</label>
                  <input type="file" class="form-control-file" name="reactivos_file" id="reactivos_file" multiple>
                </div>
              </div>
            </div>
            <br>
            <input type="hidden" name="state" value="2">
            <button type="submit" class="btn btn-primary btn-lg">Aceptar</button>
          </form>
        <!-- /State 1 END -->
        <% } else { %>
        <form method="get" action="/clima">
          <div class="form-row">
            <div class="col-xl-6 col-sm-12 mb-6">
              <div class="form-group"><h4>Estudio generado con éxito!</h4></div>
              <button type="submit" style="background: none; border: none;"><a style="color: white;" class="btn btn-primary btn-lg">Regresar</a></button>
            </div>
          </div>
        </form>
        <% } %>
      </div>

      <% include ./include/sticky %>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <% include ./include/footer %>

  <% include ./include/scripts %>

  <script>
    $('#servicios_check').change(function(){
      $("#servicios_input").prop("disabled", !$(this).is(':checked'));
    });

    $('#areas_check').change(function(){
      $("#areas_input").prop("disabled", !$(this).is(':checked'));
    });

    $('#otras_check').change(function(){
      $("#otras_input").prop("disabled", !$(this).is(':checked'));
    });
  </script>

</body>

</html>
