<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Suite MP</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">

  <style type="text/css">
  tr.type1 td{
  background-color: #2C90E8;
  }
  tr.type2 td{
  background-color: #6CC96F;
  }
  tr.type3 td{
  background-color: #ED9D2D;
  }
  tr.type4 td{
  background-color: #EF4F4F;
  }

  td.type1{
  background-color: #2C90E8;
  }
  td.type2{
  background-color: #6CC96F;
  }
  td.type3{
  background-color: #ED9D2D;
  }
  td.type4{
  background-color: #EF4F4F;
  }

</style>

</head>

<body id="page-top">

  <% include ./include/nav %>

  <div id="wrapper">

    <% include ./include/sidebar %>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Clima Organizacional</a>
          </li>
          <li class="breadcrumb-item active"><%= crumb %></li>
        </ol>

        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <form method="get" action="/clima">
              <button type="submit" style="background: none; border: none;"><a style="color: white;" class="btn btn-primary btn-lg">Regresar</a></button>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 col-sm-12 mb-6">
            <form method="post" action="/resultados_clima">
              <input type="hidden" name="state" value="0">
              <input type="hidden" name="dbname" value="<%= dbname %>">
              <input type="hidden" name="generales_length" value="<%= data2.length %>">
              <input type="hidden" name="segment_length" value="<%= data1.length %>">

              <div class="form-row">
              <div class="col-xl-6 col-sm-12 mb-6">
                <div class="form-group"><h3>Selección de Resultados</h3></div>
                <div class="form-check form-group">
                  <input type="checkbox" class="form-check-input" name="global_check" id="global_check" value="0">
                  <label class="form-check-label" for="global_check">Segmentar Información?</label>
                </div>

                <% for (i = 0; i < data2.length; i++) { %>
                <div class="form-check form-group">
                  <input type="checkbox" class="form-check-input" name="check_<%= data2[i].id %>" id="check_<%= data2[i].id %>" value="<%= data2[i].id %>" disabled>
                  <label class="form-check-label" for="check_<%= data2[i].id %>">Por <%= data2[i].nombre %> </label>

                  <% for (k = 0; k < data1.length; k++) { %>
                    <% if (data2[i].id == data1[k].general_id ) { %>
                      <% if (data1[k].general_id != 1) { %>
                  <div class="form-check form-group">
                    <input type="checkbox" class="form-check-input" name="segment_<%= k+1 %>" id="segment_<%= k+1 %>" value="<%= data1[k].respuesta %>" disabled>
                    <label class="form-check-label" for="segment_<%= k+1 %>"><%= data1[k].respuesta %> </label>
                  </div>
                      <% } else { %>
                  <div class="form-check form-group">
                    <input type="checkbox" class="form-check-input" name="segment_<%= k+1 %>" id="segment_<%= k+1 %>" value="<%= data1[k].respuesta %>" disabled>
                    <label class="form-check-label" for="segment_<%= k+1 %>"><%= data1[k].planta %> </label>
                  </div>
                      <% } %>
                    <% } %>
                  <% } %>

                </div>
                <% } %>
              </div>
            </div>

              <button type="submit" style="background: none; border: none;"><a style="color: white;" class="btn btn-primary btn-lg">Continuar</a></button>
            </form>
          </div>
        </div>

      </div>

      <% include ./include/sticky %>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <% include ./include/footer %>

  <% include ./include/scripts %>

  <% for (j = 0; j < data2.length; j++) { %>
  <script>
    $('#global_check').change(function(){
      $("#check_<%= data2[j].id %>").prop("disabled", !$(this).is(':checked'));
    });
  </script>
    <% for (m = 0; m < data1.length; m++) { %>
      <% if (data2[j].id == data1[m].general_id) { %>
  <script>
    $('#check_<%= data2[j].id %>').change(function(){
      $("#segment_<%= m+1 %>").prop("disabled", !$(this).is(':checked'));
    });
  </script>
      <% } %>
    <% } %>
  <% } %>

</body>

</html>
