<!DOCTYPE html>
<html lang="en">

<% include ./include/header %>

<body id="page-top">

  <% include ./include/nav %>

  <div id="wrapper">

    <% include ./include/sidebar %>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Suite MP</a>
          </li>
          <li class="breadcrumb-item active"><%= crumb %></li>
        </ol>

        <% if (state == 0) { %>

        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <form method="get" action="/home">
              <button type="submit" style="background: none; border: none;"><a style="color: white;" class="btn btn-primary btn-lg">Regresar</a></button>
          </form>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
              <form method="post" action="/empresas" enctype="multipart/form-data">
                <input type="hidden" name="state" value="1">
                <button type="submit" style="background: none; border: none;"><a style="color: white;" class="btn btn-primary btn-lg"><i class="fas fa-fw fa-plus"></i>&nbsp;Registrar Empresa</a></button>
              </form>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
              Listado de Empresas</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Empresa</th>
                      <th>Giro</th>
                      <th>Eliminar Empresa</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (data.length > 0) {%>
                      <% for (i = 0; i < data.length; i++) { %>
                    <tr>
                      <td><%= data[i].nombre %></td>
                      <td><%= data[i].giro %></td>
                      <td class="text-center"><a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteCompanyModal<%= data[i].id %>"><i class="fas fa-fw fa-trash"></i></a></td>

                      <!-- Delete Company Modal-->
                        <div class="modal fade" id="deleteCompanyModal<%= data[i].id %>" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Eliminar Empresa?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">×</span>
                                </button>
                              </div>
                              <div class="modal-body">Selecciona aceptar para confirmar. No se puede restablecer una vez eliminada.</div>
                              <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <form method="post" action="/empresas" enctype="multipart/form-data">
                                  <input type="hidden" name="state" value="3">
                                  <input type="hidden" name="data_company_id" value="<%= data[i].id %>">
                                  <button class="btn btn-danger" type="submit">Eliminar</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>

                    </tr>
                      <% } %>
                    <% } else { %>
                    <tr>
                      <td>No hay empresas disponibles</td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <% } else if (state == 1) { %>
          <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
              <form method="get" action="/empresas">
                <button type="submit" style="background: none; border: none;"><a style="color: white;" class="btn btn-primary btn-lg">Regresar</a></button>
            </form>
            </div>
          </div>

          <form method="post" action="/empresas" enctype="multipart/form-data">
            <div class="form-row">
              <div class="col-xl-6 col-sm-12 mb-6">
                <div class="form-group"><h4>Nueva Empresa</h4></div>
                <div class="form-group">
                  <label for="nombre_input">Nombre de la Empresa: </label>
                  <input type="text" class="form-control" name="nombre_input" id="nombre_input" required>
                </div>
                <div class="form-group">
                  <label for="giro_input">Giro de la Empresa: </label>
                  <input type="text" class="form-control" name="giro_input" id="giro_input" required>
                </div>
              </div>
            </div>
            <input type="hidden" name="state" value="2">
            <button type="submit" class="btn btn-primary btn-lg">Aceptar</button>
          </form>

          <% } else { %>
          <form method="get" action="/empresas">
          <div class="form-row">
            <div class="col-xl-6 col-sm-12 mb-6">

              <% if (state == 2) { %>
              <div class="form-group"><h4>Empresa registrada exitosamente!</h4></div>
               <% } else if (state == 3) { %>
               <div class="form-group"><h4>Empresa eliminada exitosamente!</h4></div>
               <% } else if (state == 4) { %>
               <div class="form-group"><h4>La Empresa no ha sido eliminada porque tiene usuarios o estudios activos.</h4></div>
               <% } %>

              <button type="submit" style="background: none; border: none;"><a style="color: white;" class="btn btn-primary btn-lg">Regresar</a></button>
            </div>
          </div>
        </form>
          <% } %>

      </div>

      <% include ./include/sticky %>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <% include ./include/footer %>

  <% include ./include/scripts %>

  <script>
    $('#servicios_check').change(function(){
      $("#servicios_input").prop("disabled", !$(this).is(':checked'));
    });

    $('#otras_check').change(function(){
      $("#otras_input").prop("disabled", !$(this).is(':checked'));
    });
  </script>

</body>

</html>
