<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Suite MP</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/home">Suite Matchpeople</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <p class="dropdown-item" style="background-color:powderblue;">Hola <%= user %> </p>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
        </div>
      </li>
    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Resumen</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-database"></i>
          <span>Paymaster</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://sociometria.matchpeople.com">
          <i class="fas fa-fw fa-table"></i>
          <span>Sociometría</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/clima">
          <i class="fas fa-fw fa-thermometer"></i>
          <span>Clima Organizacional</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.matchpeople.com.mx">
          <i class="fas fa-fw fa-at"></i>
          <span>Web Matchpeople</span></a>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Clima Organizacional</a>
          </li>
          <li class="breadcrumb-item active"><%= crumb %></li>
        </ol>

        <% if (state == 3) { %>
        <% var total = [];
           total[0] = data1[0].ct_respuesta + data2[0].ct_respuesta + data3[0].ct_respuesta + data4[0].ct_respuesta;
           total[1] = data1[1].ct_respuesta + data2[1].ct_respuesta + data3[1].ct_respuesta + data4[1].ct_respuesta;
           total[2] = data1[2].ct_respuesta + data2[2].ct_respuesta + data3[2].ct_respuesta + data4[2].ct_respuesta;
           total[3] = data1[3].ct_respuesta + data2[3].ct_respuesta + data3[3].ct_respuesta + data4[3].ct_respuesta;
           total[4] = data1[4].ct_respuesta + data2[4].ct_respuesta + data3[4].ct_respuesta + data4[4].ct_respuesta;
           total[5] = data1[5].ct_respuesta + data2[5].ct_respuesta + data3[5].ct_respuesta + data4[5].ct_respuesta;

           var tda = data1[0].ct_respuesta + data1[1].ct_respuesta + data1[2].ct_respuesta + data1[3].ct_respuesta+ data1[4].ct_respuesta + data1[5].ct_respuesta;
           var nda = data2[0].ct_respuesta + data2[1].ct_respuesta + data2[2].ct_respuesta + data2[3].ct_respuesta+ data2[4].ct_respuesta + data2[5].ct_respuesta;
           var ned = data3[0].ct_respuesta + data3[1].ct_respuesta + data3[2].ct_respuesta + data3[3].ct_respuesta+ data3[4].ct_respuesta + data3[5].ct_respuesta;
           var ted = data4[0].ct_respuesta + data4[1].ct_respuesta + data4[2].ct_respuesta + data4[3].ct_respuesta+ data4[4].ct_respuesta + data4[5].ct_respuesta;
           var tg = tda + nda + ned + ted;

        %>
          <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
              <form method="post" action="/resultados_clima">
                <input type="hidden" name="state" value="0">
                <input type="hidden" name="dbname" value="<%= dbname %>">
                <button type="submit" style="background: none; border: none;"><a style="color: white;" class="btn btn-primary btn-lg">Regresar</a></button>
              </form>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-header">
              Tabla de Porcentajes</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Rubro</th>
                      <th>Totalmente de Acuerdo</th>
                      <th>De Acuerdo</th>
                      <th>En Desacuerdo</th>
                      <th>Totalmente en Desacuerdo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (data1.length > 0) {%>
                      <% for (i = 0; i < data1.length; i++) { %>
                    <tr>
                      <td><b><%= data1[i].rubro %></b></td>
                      <td class="text-center"><%= Math.round((data1[i].ct_respuesta / total[i]) * 100) %>%</td>
                      <td class="text-center"><%= Math.round((data2[i].ct_respuesta / total[i]) * 100) %>%</td>
                      <td class="text-center"><%= Math.round((data3[i].ct_respuesta / total[i]) * 100) %>%</td>
                      <td class="text-center"><%= Math.round((data4[i].ct_respuesta / total[i]) * 100) %>%</td>
                    </tr>
                      <% } %>
                    <tr>
                      <td><b>Total</b></td>
                      <td class="text-center"><%= Math.round((tda / tg) * 100) %>%</td>
                      <td class="text-center"><%= Math.round((nda / tg) * 100) %>%</td>
                      <td class="text-center"><%= Math.round((ned / tg) * 100) %>%</td>
                      <td class="text-center"><%= Math.round((ted / tg) * 100) %>%</td>
                    </tr>
                    <% } else { %>
                    <tr>
                      <td>No hay información disponible</td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

            <% for (i = 0; i < data1.length; i++) { %>

            <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-chart-area"></i>
                Gráfica <%= data1[i].rubro %></div>
              <div class="card-body">
                <canvas id="grafica-prop-<%= i %>" width="100%" height="30"></canvas>
              </div>
              <div class="card-footer small text-muted"></div>
            </div>

            <% } %>
          
          <% } %>

      </div>

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Grupo Matchpeople 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/datatables-demo.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>

  <script>
    $('#servicios_check').change(function(){
      $("#servicios_input").prop("disabled", !$(this).is(':checked'));
    });

    $('#otras_check').change(function(){
      $("#otras_input").prop("disabled", !$(this).is(':checked'));
    });
  </script>
  <% for (j = 0; j < data1.length; j++) { %>
  <script>
  var ctx = document.getElementById("grafica-prop-<%= j %>").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'horizontalBar',
      data: {
          labels: ["Totalmente de Acuerdo", "De Acuerdo", "En Desacuerdo", "Totalmente en Desacuerdo"],
          datasets: [{
              label: '<%= data1[j].rubro %>',
              data: [<%= data1[j].ct_respuesta %>, <%= data2[j].ct_respuesta %>, <%= data3[j].ct_respuesta %>, <%= data4[j].ct_respuesta %>],
              backgroundColor: [
                  'rgba(54, 162, 235, 0.5)',
                  'rgba(75, 192, 192, 0.5)',
                  'rgba(255, 159, 64, 0.5)',
                  'rgba(255, 99, 132, 0.5)'
              ],
              borderColor: [
                  'rgba(54, 162, 235, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(255,99,132,1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });
  </script>
  <% } %>

</body>

</html>
