<!DOCTYPE html>
<html lang="en">

<% include ./include/header %>

<body id="page-top">

  <% include ./include/nav %>

  <div id="wrapper">

    <% include ./include/sidebar %>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Suite MP</a>
          </li>
          <li class="breadcrumb-item active"><%= crumb %></li>
        </ol>

        <% if (state == 0 || state == 3) { %>

        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <form method="get" action="/home">
              <button type="submit" style="background: none; border: none;"><a style="color: white;" class="btn btn-primary btn-lg">Regresar</a></button>
            </form>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
              <form method="post" action="/usuarios" enctype="multipart/form-data">
                <input type="hidden" name="state" value="1">
                <button type="submit" style="background: none; border: none;"><a style="color: white;" class="btn btn-primary btn-lg"><i class="fas fa-fw fa-plus"></i>&nbsp;Registrar Usuario</a></button>
              </form>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
              Usuarios</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Accesos</th>
                      <th>Empresa</th>
                      <th>Fecha de Registro</th>
                      <th>Eliminar Usuario</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (data.length > 0) { %>
                      <% for (i = 0; i < data.length; i++) { %>
                      <% let formatted_date = data[i].creation_date.getDate() + "/" + (data[i].creation_date.getMonth() + 1) + "/" + data[i].creation_date.getFullYear() %>
                    <tr>
                      <td><%= data[i].username %></td>
                      <td><%= data[i].type %></td>
                      <td><%= data[i].nombre %></td>
                      <td><%= formatted_date %></td>
                      <td class="text-center"><a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteUserModal<%= data[i].id %>"><i class="fas fa-fw fa-trash"></i></a></td>

                      <!-- Delete User Modal-->
                        <div class="modal fade" id="deleteUserModal<%= data[i].id %>" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Eliminar Usuario?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">×</span>
                                </button>
                              </div>
                              <div class="modal-body">Selecciona aceptar para confirmar. No se puede restablecer una vez eliminado.</div>
                              <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <form method="post" action="/usuarios" enctype="multipart/form-data">
                                  <input type="hidden" name="state" value="3">
                                  <input type="hidden" name="data_user_id" value="<%= data[i].id %>">
                                  <button class="btn btn-danger" type="submit">Eliminar</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>

                    </tr>
                      <% } %>
                    <% } else { %>
                    <tr>
                      <td>No hay usuarios disponibles</td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <% } else if (state == 1) { %>
          <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
              <form method="get" action="/usuarios">
                <button type="submit" style="background: none; border: none;"><a style="color: white;" class="btn btn-primary btn-lg">Regresar</a></button>
            </form>
            </div>
          </div>

          <form method="post" action="/usuarios" enctype="multipart/form-data">
            <div class="form-row">
              <div class="col-xl-6 col-sm-12 mb-6">
                <div class="form-group"><h4>Nuevo Usuario</h4></div>
                <div class="form-group">
                  <label for="username_input">Nombre de Usuario: </label>
                  <input type="text" class="form-control" name="username_input" id="username_input" required>
                </div>
                <div class="form-group">
                  <label for="password_input">Contraseña: </label>
                  <input type="text" class="form-control" name="password_input" id="password_input" required>
                </div>
                <div class="form-group">
                  <label for="type_input">Accesos: </label>
                  <input type="number" class="form-control" name="type_input" id="type_input" required>
                </div>
                <div class="form-group">
                  <label for="select_empresa">Seleccionar empresa: </label>
                  <select class="form-control" name="select_empresa" id="select_empresa" required>
                    <% for (i = 0; i < data.length; i++) { %>
                    <option value="<%= data[i].id %>"><%= data[i].nombre %></option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>
            <input type="hidden" name="state" value="2">
            <button type="submit" class="btn btn-primary btn-lg">Aceptar</button>
          </form>

          <% } else { %>
          <form method="get" action="/usuarios">
          <div class="form-row">
            <div class="col-xl-6 col-sm-12 mb-6">
              <div class="form-group"><h4>Usuario registrado exitosamente!</h4></div>
              <button type="submit" style="background: none; border: none;"><a style="color: white;" class="btn btn-primary btn-lg">Regresar</a></button>
            </div>
          </div>
        </form>
          <% } %>

      </div>

      <% include ./include/sticky %>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <% include ./include/footer %>

  <% include ./include/scripts %>

  <script>
    $('#servicios_check').change(function(){
      $("#servicios_input").prop("disabled", !$(this).is(':checked'));
    });

    $('#otras_check').change(function(){
      $("#otras_input").prop("disabled", !$(this).is(':checked'));
    });
  </script>

</body>

</html>
